
#contenedor-principal{
	background-color: #44255F;
}
.wrapper {
	display: flex;
	width: 100%;
	align-items: stretch;
	background-color: #EEF1F0;
}
/* color fondo #EEF1F0 */
div.content {
	margin-left: 200px;
/* 	padding: 1px 16px; */
/* 	height: 1000px; */
	background-color: #EEF1F0;
	padding-top: 20px;
}
select{
	border-radius: 30px !important;
}
#wrapper{
	margin-top: 0px;
	display: flex;
	width: 100%;
	align-items: stretch;
	background-color: #EEF1F0;
}
/* HEADER */
.menu-uc-superior {
	height: 36px;
/* 	width: 1444px; */
/*	background-color: #267BE9;*/
/*	background-color: rgb(47,126,225);-----> este es el color original */
	background-color: #173F8A;
	margin-bottom: 0px; 
	font-size: 14px;
	padding-top: 0px;
	font-family: roboto;
	font-weight: 400;

}
.menu-uc-superior .nav {
	width: 100%;
}
.menu-uc-superior .nav li a{
  color: white !important;
  }
.menu-uc-superior .navbar-header a{
  color: white !important;
  }
/*   FIN HEADER */

/* CONTENIDO TITULO */
div.content-tittle {
	color: #FFF;	
	font-family: Montserrat;
/* 	letter-spacing: 4px;	 */
/* 	line-height: 24px; */
/* 	background-color: #44255F; */
	background-image: url("fondo-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
div.content-tittle .row {
	padding-bottom: 60px;
    padding-left: 60px;
}
div.content-tittle .sma{
	font-size: 16px;
	letter-spacing: 4px;
	line-height: 25px;
	width: 75%;

	background-color: rgba(68,37,95,1);
}
div.content-tittle .med{
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 7.2px;
	background-color: #44255F;
	letter-spacing: 3px;
	line-height: 1;
}
div.content-tittle .big{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: 11px;
	line-height: 67px;
	background-color: #44255F;
	letter-spacing: 6px;
}
/* FIN CONTENIDO TITULO */


/* CONTENIDO HOME */

div.content-home {
	color: #580060;
	font-family: Montserrat;	
/* 	font-size: 20px;	 */
/* 	letter-spacing: 4px;	 */
/* 	line-height: 24px; */
	background-color: #EEF1F0;
}

@media only screen and (min-width: 1600px){
	.margen_centro{
		padding-left: 10%;
		padding-right: 10%;
	}
}

#select-home{
    margin: -30px 15px 0px 15px;
}
div.content-home .caja-select{
	font-size: 15px;
	letter-spacing: 3px;
	line-height: 18px;
	background-color: #FFF;
/* 	margin: 15px; */
    padding: 5px 50px;
    font-weight: 600;
}
div.content-home .caja-select .row{
	padding: 15px 10px 0px 0px;
}
div.content-home .caja-select select{
	color: #FFF;
	background-color: #583971;
	text-transform: uppercase;
}
.provisional_select {
	width: 300px;
	padding-left: 30px;
}
.provisional_select_2 {
	width: 300px;
	padding-left: 30px;
	background-color: #583971;
	color: white;
	padding: 0;
	border-radius: 25px;
	border: 0;
}


/*.ala option:nth-of-type(2){
    background-color: green !important;
} */
div.content-home .caja{
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 3px;
	line-height: 18px;
	text-align: right;
	background-color: #FFF;
	margin: 15px;
	overflow: hidden;
	height: 160px;
	border-bottom: #580060;
    border-bottom-style: solid;
}
div.content-home .caja:hover{
	border-bottom: #E93F42;
    border-bottom-style: solid;
}
div.content-home .caja:hover  .cuadro-3 section {
	color: #E93F42 !important
}
div.content-home .no-graph{
	pointer-events:none;
	background-color: #c0c0c0;
	border-bottom: #c0c0c0;
}
div.content-home .caja .cuadro-1 section{
/* 	font-size: 70px; */
	color: #6D4F84;
/* 	font-weight: 700; */
/* 	letter-spacing: 3px; */
/* 	line-height: 18px; */
	text-align: center;
/* 	background-color: #FFF; */
/* 	margin: 10px; */
	padding: 20px 0px 0px 20px;
}
div.content-home .caja .cuadro-2 section{
/* 	color: #580060; */
	padding: 20px 20px 0px 0px;
}
div.content-home .caja .cuadro-3 section{
	padding: 20px 0px 20px 20px;
	font-size: xx-large;
}
div.content-home .caja .cuadro-4 section{
	color: #44255F;
	padding: 20px 20px 0px 20px;
}
div.content-home .caja a{
  color: #580060 !important;
  }
/* FIN CONTENIDO HOME */

/* SIDEBAR */
.morado_logo{
	width: 200px;
	background-color: #44255F;
	margin-top: 36px
}

.sidebar {
	/*     min-width: 250px; */
	/*     max-width: 250px; */
	font-family: Montserrat;
	width: 200px;
	position: fixed;
	z-index: 1;
/* 	top: 20px; */
/* 	left: 10px; */
/* 	background: #44255f; */
	background: #44255F;
	overflow-x: hidden;
/* 	padding: 8px 0; */
/* 	color: #ffffff; */
/* 	background-color: #583971; */
	background-color: #44255F;
	color: #FFF;
	font-weight: 700;
	font-size: 12px;
	margin-top: 76px;
	padding-top: 25px;
	height: 100%;
}
.sidebar-header {
	text-align: center;
}
.sidebar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.sidebar ul li{
/*     margin: 10px; */
    padding: 0.4em;
}

.sidebar select{
	color: #FFF !important;
	background-color: #583971 !important;
	text-transform: uppercase !important;
	margin-top: 10px;
	margin-bottom: 6px;
}
.sidebar a {
	display: block;
	text-decoration: none;
	color: white ;
}
.sidebar a:hover {
	color:#e93f42;
}
.sidebar li section {
	display: block;
	padding: 5px;
	text-decoration: none;
/* 	color: white !important; */
/* 	background-color: #c0c0c0; */
	color: rgba(0,0,0,0.4);
}

.sidebar .active {
	background-color: #583971;
	/*   color: #ffffff; */
}
.sidebar .empty {

	color:#583971;
	/*   color: #ffffff; */
}
.sidebar div {
	padding: 6px 15px 6px 15px;
}

.sidebar span {
	padding-left: 1.8rem;
}

.sidebar i {
	padding-right: 0;
	margin-top: 0.5rem;
	font-size: 14px;
}

/* 
.sidebar a:hover:not (.active ) {
	background-color: #583971;
	   color: white; 
}*/
/* FIN SIDEBAR */
/* DETALLES REPORTES */
div.cabecera-detalle {
	color: #3E3E3E;
	font-family: "Trajan Pro";
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 5px;
	line-height: 20px;
	padding: 1rem;
/* 	margin: 0px -15px; */
	padding: 1rem;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
	margin-top: -23px;
}

div.titulo-detalle {
	color: #44255F;
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 6px;
	padding: 1rem;
	margin-left: 12px;
}
div.titulo-detalle span:nth-of-type(1){
	color: #E93F42;
}

div.texto-detalle {
	color: #44255F;
	font-family: Montserrat;
	font-size: 14px;
	letter-spacing: 2.8px;
	line-height: 17px;
	padding: 1rem;
	margin-left: 12px;
	font-weight: 600;
	margin-bottom: 20px;
}

div.cuadro-grafico {
	margin-bottom: 2rem;
	padding-left: 11px;
}

div.content .cuerpo-detalle{
	padding: 1px 16px;
}
div.cuadro-dato{
	color: #580060;
	background-color: #FFF;
	margin-bottom: 15px;
	font-family: Montserrat;
}
div.cuadro-dato p{
	margin: 0px;
	padding: 10px;
}
div.cuadro-dato p:nth-of-type(1){
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 3.6px;
	line-height: 22px;
}
div.cuadro-dato p:nth-of-type(2){
	color: #636A79;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 2.4px;
	line-height: 15px;
}
div.cuadro-dato p:nth-of-type(3){
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 3px;
	line-height: 44px;
}

div.cuadro-ayuda{
	color: #580060;
	background-color: #FFF;
	margin-bottom: 15px;
	font-family: Montserrat;
}
div.cuadro-ayuda p{
	margin: 0px;
	padding: 10px;
	font-weight: 600;
}
div.cuadro-ayuda p:nth-of-type(1){
	color: #636A79;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 2.4px;
	line-height: 15px;
}
div.cuadro-ayuda p:nth-of-type(2){
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 3px;
	line-height: 18px;
}
div.cuadro-ayuda p:nth-of-type(3){
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 15px;
}
div.botones-navegacion {
	color: #FFF;
	font-family: Montserrat;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 3px;
	line-height: 18px;
}

div.botones-navegacion .btn-left {
	background-color: #6D4F84;
	padding-top: 15px;
}
div.botones-navegacion .btn-right{
	background-color: #583971;
	padding-top: 15px;
}

.cuadro-info-titulo {
	color: #580060;
	font-family: Montserrat;
	padding-bottom: 0px !important;
	padding-top: 0px !important;
	font-size: 12px !important;
	font-weight: 600;
	text-decoration: none;
}
.cuadro-info-titulo:hover {
	color:#e93f42;
	text-decoration: none;
}
.cuadro-info-titulo:visited {
	color:#e93f42;
	text-decoration: none !important;
}
.cuadro-info {
	color: #580060;
	background-color: #FFF;
	margin-bottom: 0px !important;
	font-family: Montserrat;
	font-size: 12px !important;
}


@media only screen and (min-width: 1600px){
	.sidebar{
		width:240px;
	}
	div.content{
		margin-left: 240px
	}
	.morado_logo{
		width: 240px;
	}
	.titulo_hacia_izq{
		padding-left: 60px
	}
	.texto_hacia_izq{
		padding-left: 60px
	}
	.vista{
		padding-left: 60px
	}
}


/* FIN DETALLES REPORTES */

.btn-go-top {
	color: #580060;
	font-family: Montserrat;
	font-size: 15px;
	letter-spacing: 3px;
	line-height: 18px;
	text-align: center;
	background-color: #BDBDBD;
	margin: 20px 0px;
	border-radius: 30px !important;
}

/* CONTENIDO FOOTER */

footer.content-footer {
	padding-top: 25px;
	padding-left:5.3%;
	color: #FFF;	
	font-family: Montserrat;	
	background-color: #44255F;
	padding-bottom: 12px;
}
footer.content-footer .rojo{
	color: #F00;
}
.rojo{
	color: #F00;
}
footer.content-footer .rojo a{
	color: inherit;
}
/* FIN CONTENIDO FOOTER */

a{
	color: #44255F;
}
.formulario-contacto {
	color: #44255F;
	font-family: Montserrat;
	font-size: 15px;
	letter-spacing: 0.13px;
	line-height: 18px;
	width: 70%;
}

.btn-morado   {
	color: #FFF;
	font-family: Montserrat;
	font-size: 15px;
	letter-spacing: 3px;
	line-height: 18px;
	background-color: #44255F;
	border: none;
	padding: 10px;
}
.tooltip {
/*background:yellow !important;
/*background-color:green !important;
	color: red !important;
  	/*border: 1px solid #FFF;
  	/*box-sizing: border-box;

  /*border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltip-inner {
	color: #FFF;
  	background-color: rgba(136,19,147,0.52);
	font-family: Montserrat;
    font-size: 15px;
    letter-spacing: 0.25px;
    line-height: 18px;
}

.tooltip .arrow {
  	background-color: rgba(136,19,147,0.52);
}

/*
.logo-uc {
	height: 160px;
	width: 293px;
	background-color: #2F7EE1;
}

.uc-2 {
	height: 98px;
	width: 171px;
}
*/

/* AQUÍ EMPIEZA LO NUEVO!!! */

.panel {
	background-color: white;
	min-height: 120px;
	border-bottom: solid 4px #44255F;
	letter-spacing: 3px;
	margin-top: 2rem;
}

.panel-left {
	margin-left: 1rem;
	margin-right: 0.5rem;
}
.panel-right {
	margin-right: 1rem;
	margin-left: 0.5rem;
}

.dato {
	font-size: 52px;
	font-weight: 700;
	display: inline-block;
	margin:0 40px 0 80px;
	color: #6D4F84;
}

.leyenda-dato {
	font-size: 10px;
	font-weight: 800;
	display: inline-block;
	padding-top:18px;
	padding-right:60px;
	text-align: right;
	line-height: 140%;
}

.ir-dato {
	font-size: 10px;
	font-weight: 800;
	line-height: normal;
	margin-bottom: 10px;
	margin-top: 8px;
	text-align: right;

}
.dato-flecha {
	font-size: 45px;
	line-height: 100%;
	font-weight: 400;
	font-family: courier;
	padding-right: 20px;
	text-align: right;
	padding-left: 20px;
}

.mono {
	font-size: 24px;
	margin-top: 8px;
	margin-left: 45px;
}
.panel:hover {
	border-bottom: solid 4px #e93f42;
	min-height: 128px;
}
.panel-left:hover {
	margin-left: 0.5rem;
	margin-right: 0rem;
}
.panel-right:hover {
	margin-left: 0rem;
	margin-right: 0.5rem;
}

.panel:hover .mono {
	color: #e93f42;
}
.panel:hover .leyenda-dato,
.panel:hover .ir-dato,
.panel:hover .dato-flecha
 {
	color: #44255F;
}
.panel:hover a
 {
	text-decoration: none;
}