
<% if @region.id == 7 %>
				<div id="oferta_1_metropolitana-vias" class="cuadro-grafico graph_13_3 row mr-0">
					<div class=" col-sm-10 pr-0">
						<div class='tableauPlaceholder' id='viz1540867340306' style='position: relative'>
							<noscript>
								<a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;of&#47;oferta_1_metropolitana&#47;vias&#47;1_rss.png' style='border: none' /></a>
							</noscript>
							<object class='tableauViz'  style='display:none;'>
								<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
								<param name='embed_code_version' value='3' />
								<param name='site_root' value='' />
								<param name='name' value='oferta_1_metropolitana&#47;vias' />
								<param name='tabs' value='no' />
								<param name='showShareOptions' value='false' />
								<param name='toolbar' value='no' />
								<param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;of&#47;oferta_1_metropolitana&#47;vias&#47;1.png' />
								<param name='animate_transition' value='yes' />
								<param name='display_static_image' value='yes' />
								<param name='display_spinner' value='yes' />
								<param name='display_overlay' value='yes' />
								<param name='display_count' value='yes' />
							</object>
						</div>
						<script type='text/javascript'>
							var divElement = document.getElementById('viz1540867340306');
							var vizElement = divElement.getElementsByTagName('object')[0];
							vizElement.style.width='100%';
							vizElement.style.height=(divElement.offsetWidth*0.26)+'px';
							var scriptElement = document.createElement('script');
							scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
							vizElement.parentNode.insertBefore(scriptElement, vizElement);
						</script>
					</div>
					<div class="col-sm-2">
						<div>
							<div class="cuadro-ayuda">
								<p>
									AYUDA
								</p>
								<p>
									Vías de Transporte Público
								</p>
								<p>
									Muestra un evolutivo de los kilómetros construidos de distintos tipos de vías de transporte púbico para tres cortes temporales.
								</p>
							</div>
						</div>
					</div>
				</div>
				<br>

				<div id="oferta_1_metropolitana-paradas" class="cuadro-grafico graph_13_3 row mr-0">
					<div class=" col-sm-10 pr-0">
						<div class='tableauPlaceholder' id='viz1540867396348' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;of&#47;oferta_1_metropolitana&#47;paradas&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='oferta_1_metropolitana&#47;paradas' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;of&#47;oferta_1_metropolitana&#47;paradas&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1540867396348');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.55)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
					</div>
					<div class="col-sm-2">
						<div class="cuadro-ayuda">
							<p>
								AYUDA
							</p>
							<p>
								Paraderos del sistema
							</p>
							<p>
								Evolutivo del total de paraderos implementados en Transantiago. Este indicador define en gran medida la cobertura espacial del sistema, y la distancia que deben recorrer los usuarios para (ya sea caminando y de otro modo) para poder acceder al sistema.
							</p>
						</div>
					</div>
				</div>

				<div id="oferta_1_metropolitana-flota" class="cuadro-grafico graph_13_3 row mr-0">
					<div class=" col-sm-10 pr-0">
						<div class='tableauPlaceholder' id='viz1540867437219' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;of&#47;oferta_1_metropolitana&#47;flota&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='oferta_1_metropolitana&#47;flota' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;of&#47;oferta_1_metropolitana&#47;flota&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1540867437219');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.55)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
					</div>
					<div class="col-sm-2">
						<div class="cuadro-ayuda">
							<p>
								AYUDA
							</p>
							<p>
								Flota de Buses
							</p>
							<p>
								Muestra una línea de tiempo con el número de vehículos por tipo, que constituyen la flota de Transantiago.
							</p>
						</div>
					</div>
				</div>

				<div id="oferta_1_metropolitana-kms_operados" class="cuadro-grafico graph_13_3 row mr-0">
					<div class=" col-sm-10 pr-0">
						<div class='tableauPlaceholder' id='viz1540867470529' style='position: relative'>
							<noscript>
								<a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;of&#47;oferta_1_metropolitana&#47;kms_operados&#47;1_rss.png' style='border: none' /></a>
							</noscript>
							<object class='tableauViz'  style='display:none;'>
								<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
								<param name='embed_code_version' value='3' />
								<param name='site_root' value='' />
								<param name='name' value='oferta_1_metropolitana&#47;kms_operados' />
								<param name='tabs' value='no' />
								<param name='showShareOptions' value='false' />
								<param name='toolbar' value='no' />
								<param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;of&#47;oferta_1_metropolitana&#47;kms_operados&#47;1.png' />
								<param name='animate_transition' value='yes' />
								<param name='display_static_image' value='yes' />
								<param name='display_spinner' value='yes' />
								<param name='display_overlay' value='yes' />
								<param name='display_count' value='yes' />
							</object>
						</div>
							<script type='text/javascript'>
								var divElement = document.getElementById('viz1540867470529');
								var vizElement = divElement.getElementsByTagName('object')[0];
								vizElement.style.width='100%';
								vizElement.style.height=(divElement.offsetWidth*0.55)+'px';
								var scriptElement = document.createElement('script');
								scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
								vizElement.parentNode.insertBefore(scriptElement, vizElement);
							</script>
					</div>
					<div class="col-sm-2">
						<div class="cuadro-ayuda">
							<p>
								AYUDA
							</p>
							<p>
								Kilómetros recorridos por el sistema
							</p>
							<p>
								En esta visualización se observa un evolutivo histórico de la cantidad de kilómetros recorridos por los vehículos de los distintos operadores de Transantiago. Si consideráramos además las plazas de cada uno de esos vehículos, tendríamos la oferta exacta ofrecida al sistema.
							</p>
						</div>
					</div>
				</div>

				<div id="oferta_1_metropolitana-frecuencias" class="cuadro-grafico graph_13_3 row mr-0">
					<div class=" col-sm-10 pr-0">
						<div class='tableauPlaceholder' id='viz1540867502603' style='position: relative'>
							<noscript>
							<a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;of&#47;oferta_1_metropolitana&#47;frecuencias&#47;1_rss.png' style='border: none' /></a>
							</noscript>
							<object class='tableauViz'  style='display:none;'>
								<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
								<param name='embed_code_version' value='3' />
								<param name='site_root' value='' />
								<param name='name' value='oferta_1_metropolitana&#47;frecuencias' />
								<param name='tabs' value='no' />
								<param name='showShareOptions' value='false' />
								<param name='toolbar' value='no' />
								<param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;of&#47;oferta_1_metropolitana&#47;frecuencias&#47;1.png' />
								<param name='animate_transition' value='yes' />
								<param name='display_static_image' value='yes' />
								<param name='display_spinner' value='yes' />
								<param name='display_overlay' value='yes' />
								<param name='display_count' value='yes' />
							</object>
						</div>
						<script type='text/javascript'>
							var divElement = document.getElementById('viz1540867502603');
							var vizElement = divElement.getElementsByTagName('object')[0];
							vizElement.style.width='100%';
							vizElement.style.height=(divElement.offsetWidth*0.50)+'px';
							var scriptElement = document.createElement('script');
							scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
							vizElement.parentNode.insertBefore(scriptElement, vizElement);
						</script>
					</div>
					<div class="col-sm-2">
						<div class="cuadro-ayuda">
							<p>
								AYUDA
							</p>
							<p>
								Frecuencia por línea
							</p>
							<p>
								En esta visualización es posible observar la frecuencia que ofrecen las distintas líneas de la ciudad durante los distintos periodos de un día laboral.
							</p>
						</div>
					</div>
				</div>
				

			</div>

		</div>
	</div>

</div>
<% end %>